Bannersample/.idea/
Bannersample/bin/
Bannersample/obj/
BannerlordTwitch/obj/

BannerlordTwitch/packages/

build/bin/

BannerlordTwitch/.vs/

BannerlordTwitch/.idea/

BannerlordTwitch/bin/

deploy/

build/

BannerlordTwitch/BannerlordTwitch/obj/

BannerlordTwitch/BLTAdoptAHero/bin/

BannerlordTwitch/BLTAdoptAHero/obj/

BannerlordTwitch/BLTBuffet/obj/
