#bltconsole-container {
}

#bltconsole-items {
}

.bltconsole-text {
    margin: 0;
}

.bltconsole-items-t-enter, .bltconsole-items-t-leave-to {
    opacity: 0;
    background: #7000;
    transform: translateY(50px);
}

.bltconsole-items-t-leave-active {
    position: absolute;
}

.bltconsole-entry {
    transition: all 0.2s;
    word-wrap: break-word;
}

:root {
    --bltconsole-text-style-margin-left: 1em;
    --bltconsole-text-style-padding-left: 0em;
}

.bltconsole-text-style-general {
    color: #ebc8ff;
    
    margin-left: var(--bltconsole-text-style-margin-left);
    padding-left: var(--bltconsole-text-style-padding-left);
    display: list-item;
    list-style-type: disc;
    list-style-position: outside;
}

.bltconsole-text-style-response {
    color: white;

    text-indent: -1em;
    margin-left: 1em;
}

.bltconsole-text-style-system {
    color: #bbb;
    font-size: 85%;

    margin-left: var(--bltconsole-text-style-margin-left);
    padding-left: var(--bltconsole-text-style-padding-left);
    display: list-item;
    list-style-type: disc;
    list-style-position: outside;
}

.bltconsole-text-style-internal {
    color: #bbb;
    font-size: 85%;

    margin-left: var(--bltconsole-text-style-margin-left);
    padding-left: var(--bltconsole-text-style-padding-left);
    display: list-item;
    list-style-type: disc;
    list-style-position: outside;
}

.bltconsole-text-style-battle {
    color: #ffff4e;
}

.bltconsole-text-style-event {
    color: white;

    margin-left: var(--bltconsole-text-style-margin-left);
    padding-left: var(--bltconsole-text-style-padding-left);
    display: list-item;
    list-style-type: disc;
    list-style-position: outside;
}

.bltconsole-text-style-fail {
    color: #ff4e4e;
    font-weight: bold;
}

.bltconsole-text-style-critical {
    color: #ff1717;
}