<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HtmlRenderer.Core" version="1.5.0.5" targetFramework="net48" />
  <package id="HtmlRenderer.PdfSharp" version="1.5.0.6" targetFramework="net48" />
  <package id="Lib.Harmony" version="2.0.4" targetFramework="net48" />
  <package id="Microsoft.AspNet.Cors" version="5.0.0" targetFramework="net48" />
  <package id="Microsoft.AspNet.SignalR.Core" version="2.4.2" targetFramework="net48" />
  <package id="Microsoft.AspNet.SignalR.JS" version="2.4.2" targetFramework="net48" />
  <package id="Microsoft.AspNet.SignalR.SelfHost" version="2.4.2" targetFramework="net48" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="3.1.5" targetFramework="net48" />
  <package id="Microsoft.Owin" version="4.2.0" targetFramework="net48" />
  <package id="Microsoft.Owin.Cors" version="4.2.0" targetFramework="net48" />
  <package id="Microsoft.Owin.Diagnostics" version="2.1.0" targetFramework="net48" />
  <package id="Microsoft.Owin.FileSystems" version="4.2.0" targetFramework="net48" />
  <package id="Microsoft.Owin.Host.HttpListener" version="2.1.0" targetFramework="net48" />
  <package id="Microsoft.Owin.Hosting" version="2.1.0" targetFramework="net48" />
  <package id="Microsoft.Owin.Security" version="2.1.0" targetFramework="net48" />
  <package id="Microsoft.Owin.SelfHost" version="2.1.0" targetFramework="net48" />
  <package id="Microsoft.Owin.StaticFiles" version="4.2.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
  <package id="Owin" version="1.0" targetFramework="net48" />
  <package id="PDFsharp" version="1.32.3057.0" targetFramework="net48" />
  <package id="System.IO" version="4.3.0" targetFramework="net48" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net48" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net48" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net48" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.2" targetFramework="net48" />
  <package id="TwitchLib" version="3.2.0" targetFramework="net48" />
  <package id="TwitchLib.Api" version="3.2.0" targetFramework="net48" />
  <package id="TwitchLib.Api.Core" version="3.2.0" targetFramework="net48" />
  <package id="TwitchLib.Api.Core.Enums" version="3.2.0" targetFramework="net48" />
  <package id="TwitchLib.Api.Core.Interfaces" version="3.2.0" targetFramework="net48" />
  <package id="TwitchLib.Api.Core.Models" version="3.2.0" targetFramework="net48" />
  <package id="TwitchLib.Api.Helix" version="3.2.0" targetFramework="net48" />
  <package id="TwitchLib.Api.Helix.Models" version="3.2.0" targetFramework="net48" />
  <package id="TwitchLib.Api.V5" version="3.2.0" targetFramework="net48" />
  <package id="TwitchLib.Api.V5.Models" version="3.2.0" targetFramework="net48" />
  <package id="TwitchLib.Client" version="3.2.2-preview-fad69ab15afcde6e74c178736b666a6cad9381d3" targetFramework="net48" />
  <package id="TwitchLib.Client.Enums" version="3.2.2-preview-fad69ab15afcde6e74c178736b666a6cad9381d3" targetFramework="net48" />
  <package id="TwitchLib.Client.Models" version="3.2.2-preview-fad69ab15afcde6e74c178736b666a6cad9381d3" targetFramework="net48" />
  <package id="TwitchLib.Communication" version="1.0.3" targetFramework="net48" />
  <package id="TwitchLib.PubSub" version="3.2.2-preview-f81ffdb933a8372061655ebf96ba45439c6443ab" targetFramework="net48" />
  <package id="YamlDotNet" version="11.1.1" targetFramework="net48" />
  <package id="dnlib" version="3.3.2" targetFramework="net48" />
  <package id="jQuery" version="1.6.4" targetFramework="net48" />
</packages>