/*table {*/
/*    width: 90%;*/
/*    margin-left: 5%;*/
/*    margin-right: 5%;*/
/*}*/

table {
    border: 2px solid black;
    margin: 0.5em;
    width: 98%;
}

table, th, td {
    /*border: 0px solid black;*/
    border-collapse: collapse;
    font-family: verdana, sans-serif;
}

th, td {
    padding: 0.5em 0.5em;
    text-align: left;
}
/*table td:nth-child(1) {*/
/*    width: 10em;*/
/*}*/
/*table td:nth-child(2) {*/
/*    width: 10%;*/
/*}*/
/*table td:nth-child(3) {*/
/*    width: 15%;*/
/*}*/
/*table td:nth-child(4) {*/
/*    width: 40%;*/
/*}*/
/*.aclist td:nth-child(1) {*/
/*    width: 30%;*/
/*}*/
/*.aclist td:nth-child(2) {*/
/*    width: 70%;*/
/*}*/
/*table th:nth-child(even) {*/
/*    background-color: #2a2a2a;*/
/*}*/
/*table th:nth-child(odd) {*/
/*    background-color: #181818;*/
/*}*/

table tr:nth-child(even) {
    background-color: #262626;
}

table tr:nth-child(odd) {
    background-color: #222;
}

table th {
    background-color: #959595;
    color: #282828;
    border-right: 1px dashed black;
}

table td {
    border-bottom: 1px solid black;
}

.rewards td:nth-child(1),
.commands td:nth-child(1),
.hero-class td:nth-child(1),
.common-config td:nth-child(1),
.tournament-config td:nth-child(1)
{
    width: 12em;
    color: #9cb5e3;
    font-size: 100%;
    margin-right: 1em;
}

.hero-class td:nth-child(1)
{
    width: 8em;
    background: #282828;
}

.rewards td:nth-child(2),
.commands td:nth-child(2)
{
    font-size: 80%;
}

.common-config td:nth-child(2),
.tournament-config td:nth-child(2)
{
    width: 6em;
    font-size: 80%;
}

.rewards td:nth-child(3),
.commands td:nth-child(3),
.common-config td:nth-child(3),
.tournament-config td:nth-child(3)
{
    color: #9a9a9a;
    font-size: 80%;
}

.class-config tr:nth-child(2),
.class-config td:nth-child(2),
.class-config th:nth-child(2)
{
    width: auto;
}

.equip-img {
    width: 150px;
    border-radius: 8px;
}

.power td:nth-child(1) {
    width: 6em;
    font-weight: normal;
    color: #22863a;
}

p {
    font-family: verdana, sans-serif;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

h1, h2, h3 {
    font-family: verdana, sans-serif;
    text-transform: capitalize;
    margin-top: 1em;
    margin-bottom: 0.3em;
}

.toc-container {
    background: #171717 none repeat scroll 0 0;
    border: 1px solid #aaa;
    display: table;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 20px;
    width: auto;
}

.toc-container a:link, .toc-container a:visited
{
    color: #6da4c4;
    text-decoration: none;
}

.toc-title {
    font-weight: 700;
    margin-top: 0.1em;
    text-align: center;
}

.toc-h1 {
    margin-left: 0;
    margin-top: 0.1em;
    font-size: medium;
}

.toc-h2 {
    margin-left: 1em;
    margin-top: 0.1em;
    font-size: medium;
}

.toc-h3 {
    margin-left: 2em;
    margin-top: 0.1em;
    font-size: medium;
}

details summary {
    cursor: pointer;
}

details summary > * {
    display: inline;
}

a:link {
    color: #6da4c4;
    text-decoration: none;
}

a:visited {
    color: #886ae3;
    text-decoration: none;
}

a:hover, .toc-container a:hover {
    color: #e2e6f1;
    text-decoration: underline;
}

a:active {
    color: #ffffff;
    text-decoration: underline;
}
.example {
    background: #151b31;
    border: 1px solid #ddd;
    border-left: 5px solid #f36d33;
    color: #dedede;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.6;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
}
.content {
    max-width: 1000px;
    margin: auto;
    background: #1f1f1f;
    color: #dcdedc;
    padding: 10px;
}
body {
    background: #282828;
}