<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Fody" version="6.5.1" targetFramework="net48" developmentDependency="true" />
  <package id="FontAwesome.WPF" version="4.7.0.9" targetFramework="net48" />
  <package id="Microsoft.AspNet.SignalR.Core" version="2.4.2" targetFramework="net48" />
  <package id="Microsoft.Owin" version="2.1.0" targetFramework="net48" />
  <package id="Microsoft.Owin.Security" version="2.1.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net48" />
  <package id="Owin" version="1.0" targetFramework="net48" />
  <package id="PropertyChanged.Fody" version="3.4.0" targetFramework="net48" />
  <package id="YamlDotNet" version="11.1.1" targetFramework="net48" />
</packages>